.card {
  display: flex;
  justify-content: space-between;
  width: 328px;
  height: 102px;
  background-color: cadetblue;
  margin-bottom: 5%;
  border-radius: 15px;
}
.type--water{
  background-color: #EBF1F8;
}


.type--bug{
  background-color: #F1F6E8;
}

.type--grass {

}

.type--fire {

}

.type--normal {
  background-color: #F1F2F3;
}

.type--electric {

}

.type--poison {

}

.type--ground {

}

.type--rock {

}

.type--bug {

}

.type--ghost {

}

.type--steel {

}
