@import '../../../theme/main.scss';

@mixin bg {
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 328px;
  height: 102px;
  background-color: cadetblue;
  margin-bottom: 5%;
  border-radius: 15px;
}

.name {
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: black;
}

.number {
  font-family: 'Poppins';
  font-size: 16px;
  color: black;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 5%;
  width: 55%;
  padding: 5%;
}

.image-container {
  border-radius: 12px;
  width: 37%;
  display: flex;
  justify-content: center;
}

.type--water {
  background-color: #ebf1f8;
}

.type--bug {
  background-color: #f1f6e8;
}

.type--grass {
  background-color: #edf6ec;
}

.type--fire {
  background-color: #fcf3eb;
}

.type--normal {
  background-color: #f1f2f3;
}

.type--electric {
  background-color: #fbf8e9;
}

.type--poison {
  background-color: #f5edf8;
}

.type--ground {
  background-color: #f9efea;
}

.type--rock {
  background-color: #f7f5f1;
}

.type--fighting {
  background-color: #f8e9ee;
}

.type--fairy {
  background-color: #fbf1fa;
}

.type--ghost {
  background-color: #ebedf4;
}

.type--steel {
  background-color: #ecf1f3;
}

.type--psychic {
  background-color: #fceeef;
}

.type--ice {
  background-color: #F1FBF9;
}

.type--flying {
  background-color: #F1F4FA;
}

.type--dragon {
  background-color: #E4EEF6;
}

.bg-type--water {
  background-color: #5090D6 !important;
  background-image: url('../../../assets/outline-types/water.svg');
  @include bg();
}

.bg-type--bug {
  background-color: #91C12F !important;
  background-image: url('../../../assets/outline-types/bug.svg');
  @include bg();
}

.bg-type--grass {
  background-color: #63BC5A !important;
  background-image: url('../../../assets/outline-types/grass.svg');
  @include bg();
}

.bg-type--fire {
  background-color: #FF9D55 !important;
  background-image: url('../../../assets/outline-types/fire.svg');
  @include bg();
}

.bg-type--normal {
  background-color: #919AA2 !important;
  background-image: url('../../../assets/outline-types/normal.svg');
  @include bg();
}

.bg-type--electric {
  background-color: #F4D23C !important;
  background-image: url('../../../assets/outline-types/electric.svg');
  @include bg();
}

.bg-type--poison {
  background-color: #B567CE !important;
  background-image: url('../../../assets/outline-types/poison.svg');
  @include bg();
}

.bg-type--ground {
  background-color: #D97845 !important;
  background-image: url('../../../assets/outline-types/ground.svg');
  @include bg();
}

.bg-type--rock {
  background-color: #C5B78C !important;
  background-image: url('../../../assets/outline-types/rock.svg');
  @include bg();
}

.bg-type--fighting {
  background-color: #CE416B !important;
  background-image: url('../../../assets/outline-types/fighting.svg');
  @include bg();
}

.bg-type--fairy {
  background-color: #EC8FE6 !important;
  background-image: url('../../../assets/outline-types/fairy.svg');
  @include bg();
}

.bg-type--ghost {
  background-color: #5269AD !important;
  background-image: url('../../../assets/outline-types/ghost.svg');
  @include bg();
}

.bg-type--steel {
  background-color: #5A8EA2 !important;
  background-image: url('../../../assets/outline-types/steel.svg');
  @include bg();
}

.bg-type--psychic {
  background-color: #FA7179 !important;
  background-image: url('../../../assets/outline-types/psychic.svg');
  @include bg();
}

.bg-type--ice {
  background-color: #73CEC0 !important;
  background-image: url('../../../assets/outline-types/psychic.svg');
  @include bg();
}

.bg-type--flying {
  background-color: #89AAE3 !important;
  background-image: url('../../../assets/outline-types/psychic.svg');
  @include bg();
}

.type--dragon {
  background-color: #0B6DC3 !important;
  background-image: url('../../../assets/outline-types/dragon.svg');
  @include bg();
}
