$water-element: #5090D6;
$dragon-element: #0B6DC3;
$electric-element: #F4D23C;
$fairy-element: #EC8FE6;
$ghost-element: #5269AD;
$fire-element: #FF9D55;
$ice-element: #73CEC0;
$grass-element: #63BC5A;
$bug-element: #91C12F;
$fighting-element: #CE416B;
$normal-element: #919AA2;
$shadow-element: #5A5465;
$steel-element: #5A8EA2;
$rock-element: #C5B78C;
$psychic-element: #FA7179;
$ground-element: #D97845;
$poison-element: #B567CE;
$fliyng-element: #89AAE3;
